.navigation {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 30;
    flex-direction: column;
    height: 100%;
    width: 72px;

    @media (min-width: 768px) {
        display: flex;
    }
}
